.loader {
  display: flex;
  justify-content: center;
  margin:  0 auto;
  padding: 2rem 0;
}

@keyframes ldio-gnhbsoqmutp {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-gnhbsoqmutp div {
  box-sizing: border-box !important;
}
.ldio-gnhbsoqmutp > div {
  position: absolute;
  width: 79px;
  height: 79px;
  top: 10.5px;
  left: 10.5px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #ff6868 transparent #ff6868 transparent;
  animation: ldio-gnhbsoqmutp 1.8181818181818181s linear infinite;
}

.ldio-gnhbsoqmutp > div:nth-child(2),
.ldio-gnhbsoqmutp > div:nth-child(4) {
  width: 67px;
  height: 67px;
  top: 16.5px;
  left: 16.5px;
  animation: ldio-gnhbsoqmutp 1.8181818181818181s linear infinite reverse;
}
.ldio-gnhbsoqmutp > div:nth-child(2) {
  border-color: transparent #2b70c9 transparent #2b70c9;
}
.ldio-gnhbsoqmutp > div:nth-child(3) {
  border-color: transparent;
}
.ldio-gnhbsoqmutp > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-gnhbsoqmutp > div:nth-child(3) div:before,
.ldio-gnhbsoqmutp > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 32px;
  background: #ff6868;
  border-radius: 50%;
  box-shadow: 0 74px 0 0 #ff6868;
}
.ldio-gnhbsoqmutp > div:nth-child(3) div:after {
  left: -5px;
  top: 32px;
  box-shadow: 74px 0 0 0 #ff6868;
}

.ldio-gnhbsoqmutp > div:nth-child(4) {
  border-color: transparent;
}
.ldio-gnhbsoqmutp > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-gnhbsoqmutp > div:nth-child(4) div:before,
.ldio-gnhbsoqmutp > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 26px;
  background: #2b70c9;
  border-radius: 50%;
  box-shadow: 0 62px 0 0 #2b70c9;
}
.ldio-gnhbsoqmutp > div:nth-child(4) div:after {
  left: -5px;
  top: 26px;
  box-shadow: 62px 0 0 0 #2b70c9;
}
.loadingio-spinner-double-ring-43o4epgknf {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-gnhbsoqmutp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-gnhbsoqmutp div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
