.random-planet {
  display: flex;
  background-color: rgb(82, 82, 82);
  width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 1rem;
  border: 1px solid white;
}

.random-planet-img {
  margin-left: 1rem;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.random-planet-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  margin-left: 2.5rem;
}

.random-planet-info li p {
  font-size: 16px;
  width: 15rem;
  border-bottom: 1px solid rgb(107, 107, 107);
}
