.people-details {
  background-color: rgb(82, 82, 82);
  width: 100%;
  border-radius: 10px;
  flex-basis: 48%;
  align-self: flex-start;
  border: 1px solid white;
  display: flex;
  padding: 1rem 0;
}

.people-details-img {
  width: 100px;
  height: 140px;
  margin-left: 1rem;
  border-radius: 10px;
}

.people-details-info {
  color: #fff;
  margin-left: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

} 

.people-details-info li p{
  border-bottom: 1px solid rgb(107, 107, 107);
  width: 10rem;
  padding-top: 10px;
}

.people-details-alert{
  color: #fff;
  margin: 1rem auto ;
  font-size: 2rem;
}