body {
  background-color: darkgray;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.main {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:900px) {
  .main {
    flex-direction: column;
    justify-content: space-around;
  }
  .item-list{
    margin-top: 1rem;
  }
  .planet-details{
    margin-top: 1rem;
  }

}
