a{
  text-decoration: none;
}
.header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 15px 0;
}

.header-title {
  font-size: 30px;
  color:  #fff;
  font-weight: bold;
}

.header-navigation{
  display: flex;
}

.header-navigation a {
  padding-left: 10px;
  color: #4f4f4f;
  font-weight: 600;

}

