.item-list {
  background-color: rgb(82, 82, 82);
  list-style-type: none;
  flex-basis: 48%;
  border-radius: 10px;
  border: 1px solid white;
}

.item-list li {
  padding: 0.5rem 0 0 1rem;
  display: block;
  height: 1.5rem;
  color: #fff;
  border-bottom: 1px solid rgb(107, 107, 107);
  cursor: pointer;
  transition:all 0.3s ease;
}

.item-list li:hover{
  background-color: rgb(128, 126, 126);

}

.item-list :last-child{
  border: none;
}
